main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
  list-style-type: none;
  box-shadow: 10px 5px 5px rgb(92, 92, 92);
  
}

main p{
  background-color: gainsboro;
  color:orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
  
}
footer p{
  color: orangered;
}
header h1{
  color:orangered;
}
main nav ul li{
  box-shadow: 9px 5px 5px rgb(92, 92, 92);
}